.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.Rapp.history
.DS_Store
*.Rproj
paper/main.*
!paper/main.tex
paper/reference_notes.*

# ignore data files
data/
*.csv
*.dcm
*.nifti
*.nii.gz
*.bvars
*.vtk
*.rds

# ignore pdflatex outputs
*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex

# ignore other miscellaneous files
*.png
*.bak
*.docx
.vscode/
arxiv/
jasa/
presentations/
results/
results_partial/
paper/jsm_2024/
paper/smi_2024/
paper/enar_2024/
code/01_lpme_simulations_files/
code/03_adni_mri_preprocess_files/
code/04_lpme_adni_application_files/
code/05_lpme_adni_results_files/
